# chmod 644 /lib/systemd/system/pyBus.service

[Unit]
Description=Free BMW Linux Music Player
After=multi-user.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/python /root/pyBus/pyBus.py -vvvv -o /root/pyBus.log
Restart=on-abort

[Install]
WantedBy=multi-user.target
